Source: ros-hydro-control-toolbox
Section: misc
Priority: extra
Maintainer: "Sachin Chitta <sachinc@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-angles, ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-tf
Homepage: http://ros.org/wiki/control_toolbox
Standards-Version: 3.9.2

Package: ros-hydro-control-toolbox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-angles, ros-hydro-message-runtime, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-tf
Description: The control toolbox contains modules that are useful across all controllers.
